<app-menu-lateral></app-menu-lateral>
<div class="divContenedorMain">

    <div class="divBorderSeccion">
        <label class="labelTitulo">Personal:</label><br><br>
        <a routerLink="/personas/4"><button class="buttonPersonal" mat-stroked-button color="primary">Agentes</button></a>
        <a routerLink="/personas/2"><button  class="buttonPersonal" mat-stroked-button color="primary">Lideres</button></a>
        <a routerLink="/personas/3"><button  class="buttonPersonal" mat-stroked-button color="primary">Dispatch</button></a><br><br>
        <a routerLink="/flotantes"><button  class="buttonPersonal" mat-stroked-button color="primary">Ingenieros flotantes</button></a>
        <br>
        <br>
    </div>
<br><br>

    <div class="divBorderSeccion">
        <label class="labelTitulo">Configuración de tickets: </label>
        <br><br>
        <a routerLink="/tiposTickets"><button class="buttonPersonal" mat-stroked-button color="primary">Tipos de tickets</button></a>
        <a routerLink="/proyectos"><button class="buttonPersonal" mat-stroked-button color="primary">proyectos</button></a>
        <br><br>
    </div>


</div>